.two-buttons {
    display: flex;
    height: 100vh;
}

.box {
  background-color: grey;
  vertical-align: bottom;
  border-radius: 12px;
}

.button-one {
    width:50%;
    height: 100%;
    align-self: flex-end;
}

@-webkit-keyframes hovering {
  from {background-color: lightgrey;}
  to {background-color: grey;}
}

.button-one:hover {
    background-color: lightgrey;

    -webkit-animation-name: hovering;
    -webkit-animation-duration: 4s;
    animation-name: hovering;
    animation-duration: 4s;
}

.emoji-one {
    margin-top: 80vh;
}

.button-two {
    width:50%;
    height: 100%;
    align-self: flex-end;
}

.button-two:hover {
    background-color: lightgrey;

    -webkit-animation-name: hovering;
    -webkit-animation-duration: 4s;
    animation-name: hovering;
    animation-duration: 4s;
}

.emoji-two {
    margin-top: 80vh;
}
