@import '../../styles/fonts.less';
@import '../../styles/vars.less';
@import '../../styles/mixins.less';

.header {
  .noselect;
  box-shadow: 0px 0px 10px 0px #333;
  align-items: center;
  background: #9147ff;
  color: white;
  display: flex;
  font-size: @nav-body;
  height: @nav-header-height;
  padding: 0 10vw;
  position: fixed;
  width: 100%;
  z-index: 1000;

  #logo {
    width: 55px;
    height: 55px;
  }

  .heading {
    margin-left: 10px;
  }

  .subheading {
    font-weight: 700;
  }

  .profile {
    position: absolute;
    right: 10%;
  }

  .title {
    color: white;
  }
}

.banner {
  margin-top: 90px;
  height: 115;
  object-fit: cover;
  width: 100%;
}

.content-table {
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  h1 {
    font-weight: 500;
  }
  .emotes {
    margin-top: 20px;
  }
  .emoji-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .emoji {
    height: 32px;
  }
}
.kill {
  height: 200px;
}
